---
// import Layout from '../layouts/Layout.astro';
// import {ListAudit} from '../components/ListAudit'
return Astro.redirect("/dashboard");

---

<!-- <Layout>
  <h1 class="text-3xl">Auditorías</h1>
  <ListAudit client:only/>
</Layout> -->