---
import Container from "@clayout/Layout";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SYSCON</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@syscon" />
		<meta name="twitter:title" content="SYSCON" />
		<meta name="twitter:creator" content="@syscon" />
		<meta name="twitter:url" content="https://syscon.com" />
		<meta name="twitter:description" content="SYSCON" />
		<meta name="twitter:image" content="/images/og-image.png" />
		<meta name="description" content="SYSCON" />
		<meta name="keywords" content="SYSCON" />
		<meta name="author" content="SYSCON" />

		<style>
			@import 'tailwindcss';
		</style>
	</head>
	<body>
		<Container client:only>
			<slot />
		</Container>
		<script>
			import {alertConsole} from '@util/alertConsole'
			await alertConsole()
		</script>
	</body>
</html>
