---
import Layout from '@layouts/Layout.astro';
---
<Layout>
  <h1>Contabilidad</h1>
  <p>Esta es la página de contabilidad.</p>
  <p>En esta sección, puedes encontrar información relacionada con la contabilidad de la empresa.</p>
</Layout> 